
.flex-parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 1900px;
  height: 800px;
}

.input-flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 80vw;
  max-width: 1000px;
  position: absolute;
  z-index: 0;
  margin-left: calc((80vw - 25px) / 20);
  top: 70%;
}

input {
  width: 25px;
  height: 25px;
  background-color: #e3dccc;
  position: relative;
  border-radius: 50%;
  display: block;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
}

input:focus {
  outline: none;
}

input::before, input::after {
  content: '';
  display: block;
  position: absolute;
  z-index: -1;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: #e3dccc;
  width: 4vw;
  height: 5px;
  max-width: 50px;
}

input::before {
  left: calc(-4vw + 12.5px);
}

input::after {
  right: calc(-4vw + 12.5px);
}

input:checked {
  background-color: #e3dccc;
}

input:checked::before {
  background-color: #e3dccc;
}

input:checked::after {
  background-color: #AEB6BF;
}

input:checked ~ input, input:checked ~ input::before, input:checked ~ input::after {
  background-color: #AEB6BF;
}

input:checked + .dot-info span01 {
  font-size: 13px;
  font-weight: bold;
}

.dot-info {
  width: 25px;
  height: 25px;
  display: block;
  visibility: hidden;
  position: relative;
  z-index: -1;
  left: calc((((80vw - 25px) / 20) * -1) - 1px);
}

.dot-info span01 {
  visibility: visible;
  position: absolute;
  font-size: 12px;
}

.dot-info span01.year {
  bottom: -30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  color: #e3dccc;
}

.dot-info span01.label {
  top: -65px;
  left: 0;
  -webkit-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
  width: 70px;
  text-indent: -10px;
  color: #e3dccc;
}

#timeline-descriptions-wrapper {
  width: 100%;
  margin-top: 140px;
  font-size: 22px;
  font-weight: 400;
  margin-left: calc((-80vw - 25px) / 20);
}

#timeline-descriptions-wrapper p {
  top: 40%;
  position: absolute;
  margin-top: 0;
  display: none;
}

#timeline-descriptions-wrapper img {
  margin-top: 0;
  display: none;
}

input[data-description="1452"]:checked ~ #timeline-descriptions-wrapper p[data-description="1452"] {
  display:block;
}

input[data-description="1452"]:checked ~ #timeline-descriptions-wrapper img[data-description="1452"] {
  display:block;
}

input[data-description="1472"]:checked ~ #timeline-descriptions-wrapper p[data-description="1472"] {
  display:block;
}

input[data-description="1472"]:checked ~ #timeline-descriptions-wrapper img[data-description="1472"] {
  display:block;
}

input[data-description="1475"]:checked ~ #timeline-descriptions-wrapper p[data-description="1475"] {
  display: block;
}

input[data-description="1475"]:checked ~ #timeline-descriptions-wrapper img[data-description="1475"] {
  display:block;
}

input[data-description="1478"]:checked ~ #timeline-descriptions-wrapper p[data-description="1478"] {
  display: block;
}

input[data-description="1478"]:checked ~ #timeline-descriptions-wrapper img[data-description="1478"] {
  display:block;
}

input[data-description="1480"]:checked ~ #timeline-descriptions-wrapper p[data-description="1480"] {
  display: block;
}

input[data-description="1480"]:checked ~ #timeline-descriptions-wrapper img[data-description="1480"] {
  display:block;
}

input[data-description="1486"]:checked ~ #timeline-descriptions-wrapper p[data-description="1486"] {
  display: block;

}input[data-description="1486"]:checked ~ #timeline-descriptions-wrapper img[data-description="1486"] {
  display:block;
}

input[data-description="1486-1"]:checked ~ #timeline-descriptions-wrapper img[data-description="1486-1"] {
  display:block;
}

input[data-description="1490"]:checked ~ #timeline-descriptions-wrapper p[data-description="1490"] {
  display: block;
}

input[data-description="1490"]:checked ~ #timeline-descriptions-wrapper img[data-description="1490"] {
  display:block;
}

input[data-description="1495"]:checked ~ #timeline-descriptions-wrapper p[data-description="1495"] {
  display: block;
}

input[data-description="1495"]:checked ~ #timeline-descriptions-wrapper img[data-description="1495"] {
  display:block;
}

input[data-description="1500"]:checked ~ #timeline-descriptions-wrapper p[data-description="1500"] {
  display: block;
}

input[data-description="1500"]:checked ~ #timeline-descriptions-wrapper img[data-description="1500"] {
  display:block;
}

input[data-description="1510"]:checked ~ #timeline-descriptions-wrapper p[data-description="1510"] {
  display: block;
}

input[data-description="1510"]:checked ~ #timeline-descriptions-wrapper img[data-description="1510"] {
  display:block;
}

input[data-description="1510-1"]:checked ~ #timeline-descriptions-wrapper p[data-description="1510-1"] {
  display: block;
}

input[data-description="1510-1"]:checked ~ #timeline-descriptions-wrapper img[data-description="1510-1"] {
  display:block;
}

input[data-description="1519"]:checked ~ #timeline-descriptions-wrapper p[data-description="1519"] {
  display: block;
}

input[data-description="1519"]:checked ~ #timeline-descriptions-wrapper img[data-description="1519"] {
  display: block;
}

.input-flex-container {
  margin-left: 62.5px;
}

input::before {
  left: -37.5px;
}

input::after {
  right: -37.5px;
}

.dot-info {
  left: calc((((1000px - 25px) / 20) * -1) - 1px);
}

#timeline-descriptions-wrapper {
  margin-left: -37.5px;
}

.dot-info span01.label {
  top: -525%;
  left: 50%;
}

input:checked + .dot-info span01.year {
  font-size: 16px;
  color: white;
}

input:checked + .dot-info span01.label {
  top: -450%;
  font-size: 16px;
  color: white;
  width: 120px;
}

